
    
    p {
        color: white;
        font-size: 50px; 
        margin-top: 120px; }
    .movetotop { z-index: 10; }
    .textbox {
        font-size: 60px;
        font-family: ToughFontGameplay;
        width: 96%;
        height: 2px;
        background-color: black;
        border: 10px solid white;
        padding: 10px;
        margin: 0 ;
        color: white
    }
    h1 {
        color: white;
    }
    body {
        background-color: lightgreen;
    }
    @font-face {
        font-family: ToughFontGameplay;
        src: url("../source/PixelOperatorMono-Bold.ttf");
    }
    .window {
        background-color: rgba(0, 0, 0, 0.095);
        height: 500px;
        width: 500px;
        border: 10px solid white;
        position: relative;
        display: grid;
        margin: 0 auto;
    }
    .dot {
        height: 10px;
        width: 10px;
        background-color: white;
        position: relative;
        top: 20px;
        left: 40px;
    }